.custom-select {
  cursor: pointer;
}

.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: lightgrey;
}

.selected {
  color: #5d5d5d;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  padding: 6px;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  font-family: Roboto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.option {
  color: #5d5d5d;
  font-family: Roboto;
  font-size: 12px;
  padding: 6px;
  border: 1px solid #ebebeb;
  border-top: none;
  max-width: 300px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.option:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.chevron {
  width: 10px;
  height: 10px;
}

.selected:hover {
  cursor: pointer;
}

.selected[disabled]:hover {
  cursor: default;
}
